
  
 <mat-card class="sobre-card">
    <mat-card-header>
      <mat-card-title class="nome">Sobre</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="nome-aluno">Everly R Silva</p>
    </mat-card-content>
    <mat-card-content class="descricao">
      <p>Estudante de Ads na instituição Eniac, cursando 3º Semestre, apaixonada por jiu-jitsu e tecnologia. Atualmente trabalho como representante comercial, enquanto busco a oportunidade do meu primeiro estágio na área de desenvolvimento. Fiz curso de Java Foundations no Senai; Java é a linguagem que mais uso em conjunto com banco de dados.</p>
    </mat-card-content>
  </mat-card>
  